<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Gostica.Properties.Settings._22_107k_06_gostinicaaa_ConnectionString"
            connectionString="Data Source=DESKTOP-N39MISJ;Initial Catalog=22.107k-06(gostinicaaa);Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>